html {
	background: black;
	color: white;
	font-size: 1.25em;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	margin: 8px;
	height: calc(100vh - 16px);
}

main pre {
	font: monospace;

	width: 64ch;

	margin: 0 auto;
	padding: 1em;
	border: 0.25ch dashed white;
}

a {
	color: aqua;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid aqua;
}

h1, h2, h3 {
	all: unset;
	font-weight: bold;
}
